build/index.html
<!DOCTYPE html>
<html>

<head>
  <title>Leadza Canvas</title>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" href="icons/apple-touch-icon-76.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-touch-icon-76.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-touch-icon120.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-touch-icon152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon180.png" />
  <link rel="icon" sizes="192x192" href="icons/android-icon-192.png" />
  <link rel="shortcut icon" type="image/x-icon" href="icons/favicon.ico" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="msapplication-navbutton-color" content="#ffffff" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
  <link href="css/remodal.css" rel="stylesheet" />
  <link href="css/remodal-default-theme.css" rel="stylesheet" />
  <link href="css/styles.css" rel="stylesheet" />
</head>

<body class="body">
  <div class="page">
    <div data-remodal-id="order" class="remodal">
      <button data-remodal-action="close" class="remodal__close">+</button>
      <div class="remodal__content">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeT2q2emEdT-ZA4vNy4etbIapKxzVB_FROmpdAFW_5LeqFtCQ/viewform?embedded=true" width="100%" height="700" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
      </div>
    </div>
    <header class="header panel">
      <div class="panel__in">
        <div class="panel__box header__content">
          <p>
            <strong>Новогоднее предложение
              <br/>для интернет-магазинов</strong>
          </p>
          <p>Продавайте больше товаров на&nbsp;аудиторию социальной&nbsp;сети&nbsp;
            <img class="facebook" src="images/facebook.svg" alt="Facebook" /> через формат CANVAS</p>
        </div>
        <div class="phone">
          <div class="phone__in js-phone">
            <img src="images/phone-front.png" alt="" class="phone__pic">
            <div class="phone__screen">
              <video autoplay loop muted poster="images/video-poster.gif" class="phone__video">
                <source src="video/video.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="inaction panel">
      <div class="panel__in">
        <div class="inaction__content panel__box">
          <h2>Рекламная кампания в&nbsp;праздники</h2>
          <p>Охватите больше целевой аудитории в Facebook через рекламу новогодних предложений пользователям мобильных устройств. Формат CANVAS Ads позволяет создать посадочную станицу прямо в Facebook, которую ваши потенциальные клиенты будут просматривать
            на своих смартфонах и мобильных телефонах.</p>
        </div>
        <div class="phone phone_small">
          <div class="phone__in">
            <img src="images/phone-front.png" alt="" class="phone__pic">
            <div class="phone__screen">
              <video autoplay loop muted poster="images/video-poster.gif" class="phone__video">
                <source src="video/video.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="whatyouget panel">
      <div class="panel__in">
        <div class="whatyouget__content panel__box">
          <h2>Что вы получите</h2>
          <div class="whatyouget__item">Посадочную страницу в формате Canvas, на которой мы расскажем новогоднюю историю про ваш продукт</div>
          <div class="whatyouget__item">Максимальный охват целевой аудитории на мобильных устройствах в сезон праздников</div>
          <div class="whatyouget__item">Рост продаж, обеспечиваемый за счет грамотной стратегии размещения рекламы, подбора оптимальных форматов рекламы, а также алгоритмов оптимизации рекламы по CPO</div>
        </div>
      </div>
    </div>
    <div class="products">
      <div class="products__in">
        <div class="products__left">
          <div class="product special">
            <div class="product__city">Париж</div>
            <div class="product__content">
              <ul>
                <li>Создание новогодней истории</li>
                <li>Canvas - 3 варианта</li>
                <li>Техническая интеграция сайта с Facebook</li>
                <li>Настройка основной рекламной кампании</li>
                <li>Настройка ретаргетинга</li>
                <li>Рекомендации по итогам РК</li>
              </ul>
            </div>
            <div class="product-buy">
              <div class="product-buy__price">
                <div class="product-buy__num">110 тыс. руб.</div>
                <div class="product-buy__desc">+ рекламный бюджет</div>
              </div>
              <div class="product-buy__order">
                <a href="#order" class="btn large">Заказать</a>
              </div>
            </div>
          </div>
        </div>
        <div class="products__right">
          <div class="product">
            <div class="product__city">Рим</div>
            <div class="product__content">
              <ul>
                <li>Создание новогодней истории</li>
                <li>Canvas - 2 варианта</li>
                <li>Техническая интеграция сайта с Facebook</li>
                <li>Настройка основной рекламной кампании</li>
                <li>Рекомендации по итогам РК</li>
              </ul>
            </div>
            <div class="product-buy">
              <div class="product-buy__price">
                <div class="product-buy__num">80 тыс. руб.</div>
                <div class="product-buy__desc">+ рекламный бюджет</div>
              </div>
              <div class="product-buy__order">
                <a href="#order" class="btn">Заказать</a>
              </div>
            </div>
          </div>
          <div class="products__sep"></div>
          <div class="product">
            <div class="product__city">Рим -</div>
            <div class="product__content">
              <ul>
                <li>Создание новогодней истории</li>
                <li>Canvas - 2 варианта</li>
                <li>Техническая интеграция сайта с Facebook</li>
                <li>Настройка основной рекламной кампании</li>
              </ul>
            </div>
            <div class="product-buy">
              <div class="product-buy__price">
                <div class="product-buy__num">70 тыс. руб.</div>
                <div class="product-buy__desc">+ рекламный бюджет</div>
              </div>
              <div class="product-buy__order">
                <a href="#order" class="btn">Заказать</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__in">
        <div class="footer__logo">Leadza</div>
        <div class="footer__contacts">
          <div class="contacts">
            <h3 class="contacts__name">Контактная информация</h3>
            <ul>
              <li>
                <strong>Телефон</strong>+7 (499) 653-66-31</li>
              <li>
                <strong>E-mail</strong>
                <a href="mailto:vika@leadza.ru">vika@leadza.ru</a>
              </li>
              <li>
                <strong>Адрес</strong>Москва, Серебряническая набережная, 29</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/bundle.js"></script>
</body>

</html>

app/pages/index.jade
//- Extend layout
//------------------------
extends ../layout/layout


//- Append to layout
//-----------------------
block append layout-content
  mixin phone
    img(src="images/phone-front.png" alt="").phone__pic
    .phone__screen
      video(autoplay loop muted poster="images/video-poster.gif").phone__video
        source(src="video/video.mp4" type="video/mp4")


  .remodal(data-remodal-id='order')
    button.remodal__close(data-remodal-action="close") +
    .remodal__content
      iframe(
        src="https://docs.google.com/forms/d/e/1FAIpQLSeT2q2emEdT-ZA4vNy4etbIapKxzVB_FROmpdAFW_5LeqFtCQ/viewform?embedded=true"
        width="100%" height="700"
        frameborder="0" marginheight="0" marginwidth="0"
      ) Загрузка...


  header.header.panel
    .panel__in
      .panel__box.header__content
        p: strong Новогоднее предложение<br/>для интернет-магазинов
        p Продавайте больше товаров на&nbsp;аудиторию социальной&nbsp;сети&nbsp;<img class="facebook" src="images/facebook.svg" alt="Facebook" /> через формат CANVAS
      .phone
        .phone__in.js-phone
          +phone


  .inaction.panel
    .panel__in
      .inaction__content.panel__box
        h2 Рекламная кампания в&nbsp;праздники
        p Охватите больше целевой аудитории в Facebook через рекламу новогодних предложений пользователям мобильных устройств. Формат CANVAS Ads позволяет создать посадочную станицу прямо в Facebook, которую ваши потенциальные клиенты будут просматривать на своих смартфонах и мобильных телефонах.
      .phone.phone_small
        .phone__in
          +phone


  .whatyouget.panel
    .panel__in
      .whatyouget__content.panel__box
        h2 Что вы получите
        .whatyouget__item Посадочную страницу в формате Canvas, на которой мы расскажем новогоднюю историю про ваш продукт
        .whatyouget__item Максимальный охват целевой аудитории на мобильных устройствах в сезон праздников
        .whatyouget__item Рост продаж, обеспечиваемый за счет грамотной стратегии размещения рекламы, подбора оптимальных форматов рекламы, а также алгоритмов оптимизации рекламы по CPO


  .products
    .products__in
      .products__left
        .product.special
          .product__city Париж
          .product__content
            ul
              li Создание новогодней истории
              li Canvas - 3 варианта
              li Техническая интеграция сайта с Facebook
              li Настройка основной рекламной кампании
              li Настройка ретаргетинга
              li Рекомендации по итогам РК
          .product-buy
            .product-buy__price
              .product-buy__num 110 тыс. руб.
              .product-buy__desc + рекламный бюджет
            .product-buy__order
              a(href="#order").btn.large Заказать

      .products__right
        .product
          .product__city Рим
          .product__content
            ul
              li Создание новогодней истории
              li Canvas - 2 варианта
              li Техническая интеграция сайта с Facebook
              li Настройка основной рекламной кампании
              li Рекомендации по итогам РК
          .product-buy
            .product-buy__price
              .product-buy__num 80 тыс. руб.
              .product-buy__desc + рекламный бюджет
            .product-buy__order
              a(href="#order").btn Заказать

        .products__sep

        .product
          .product__city Рим -
          .product__content
            ul
              li Создание новогодней истории
              li Canvas - 2 варианта
              li Техническая интеграция сайта с Facebook
              li Настройка основной рекламной кампании
          .product-buy
            .product-buy__price
              .product-buy__num 70 тыс. руб.
              .product-buy__desc + рекламный бюджет
            .product-buy__order
              a(href="#order").btn Заказать


  footer.footer
    .footer__in
      .footer__logo Leadza
      .footer__contacts
        .contacts
          h3.contacts__name Контактная информация
          ul
            li
              strong Телефон
              | +7 (499) 653-66-31
            li
              strong E-mail
              a(href="mailto:vika@leadza.ru") vika@leadza.ru
            li
              strong Адрес
              | Москва, Серебряническая набережная, 29
